* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* header  */
header {
    height: 12vh;
    padding: 0 20px;
    display: flex;
    background-color: orangered;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-right: 120px;
    height: 200px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    font-size: 30px;
}

.logo p::after {
    content: "ಠ﹏ಠ";
}

.logo:hover p::after {
    content: "X﹏X";
    /* font-size: 18px;  */

}

.pagesLinks {
    margin-right: 40px;
    width: 200px;
    height: 10vh;
    display: flex;
    gap: 10px;
}

.pagesLinks a {
    position: relative;
    padding: 25px 0;
}

.pagesLinks a:hover {
    color: rgb(253, 234, 198);
}

.pagesLinks a::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 0%;
    border-bottom: 2px solid;
    transition: 0.3s ease;
}

.pagesLinks a:hover::after {
    width: 100%;
}

header h1 {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

/* main  */
main {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animeContainer {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    overflow-x: auto;
    /*scroll-snap-type: x mandatory; */
}

.animeCardPosition {
    padding: 10px;
    width: 320px;
    height: 130vh;
}

.animeCard {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: rgb(159, 196, 198);
    border-radius: 5px;
    /* scroll-snap-align:center;
    scroll-snap-stop: always;  */
    /* para nao pular */
    z-index: 3;
    border-bottom: 3px solid rgb(129, 157, 158);
}

.animeCard:hover {
    z-index: 10;
}

.textContainer {
    padding: 5px;
}

img {
    width: auto;
    height: 90vh;
    overflow: hidden;
    transition: 2s;
}

img:hover {
    height: auto;
}

hr {
    border-bottom: 2px;
}

/* footer  */
footer {
    margin-top: 10px;
    background-color: orangered;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 20vh;
    justify-content: center;
    /* justify-content: flex-end; */
    align-items: center;

}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(239, 250, 215);
}