* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* header  */
header {
    height: 12vh;
    padding: 0 20px;
    display: flex;
    background-color: orangered;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-right: 120px;
    height: 200px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    font-size: 30px;
}
.logo p::after{
    content: "ಠ﹏ಠ";
}
.logo:hover p::after{
  content: "눈_눈";
/* font-size: 20px; */

}
.pagesLinks{
    width: 200px;
   
    display: flex;
    gap: 10px;
}
header h1{
    color: white;
}

header a{
    color: white;
    text-decoration: none;
}

/* main  */
main {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animeContainer {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    overflow-x: auto;
    /*scroll-snap-type: x mandatory; */
}
.animeCardPosition{
    padding: 10px;
    width: 320px;
    height: 130vh;
}
.animeCard {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: rgb(159, 196, 198);
    border-radius: 5px;
    /* scroll-snap-align:center;
    scroll-snap-stop: always;  */
    /* para nao pular */
    z-index: 3;
    border-bottom: 3px solid rgb(129, 157, 158);
}
.animeCard:hover{
    z-index: 10;
}

.textContainer {
    padding: 5px;
}

.synopsis {

    height: 90px;
    overflow: hidden;
    transition: 2s;
}

.synopsis:hover {
    height: 550px;
}

.title {
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.title:hover {
    height: 60px;
}

iframe {
    width: 100%;
    height: 200px;
}

hr{
    border-bottom: 2px;
}
/* footer  */
footer {
    margin-top: 10px;
    background-color:  orangered;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 20vh;
    justify-content: center;
     /* justify-content: flex-end; */
    align-items: center;

}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(239, 250, 215);
}
